# Ignore everything
*

# But not these files...
!README.html

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!R/model_age_uncertainty.R
!R/model_BaSTA.R
!R/model_chicks.R
!R/model_eggs.R
!R/model_laydate.R
!R/model_polyandry.R
!R/model_renesting.R
!R/project_functions.R
!R/project_libraries.R
!R/project_plotting.R
!R/results_BaSTA.R
!R/results_chicks.R
!R/results_combo_plots.R
!R/results_eggs.R
!R/results_laydate.R
!R/results_polyandry.R
!R/results_renesting.R
!R/results_sample_summary.R
!R/wrangle_BaSTA_data.R
!R/wrangle_egg_female_chick_data.R

!data/mol_sex.rds
!data/chicks_2006_2020.rds
!data/BaSTA_checked_life_table_females_2006-2020.rds
!data/ceuta_egg_chick_female_data.rds
!data/raw_encounter_histories_females_2006_2020.rds
!data/raw_life_table_females_2006_2020.rds

!output/multibasta_output_females_min_age_1_2006-2020.rds
!output/stats_eggv_mod.rds
!output/stats_polyandry_age_mod.rds
!output/stats_renesting_mod.rds
!output/stats_laydate_mod.rds
!output/stats_chick_mod.rds
!output/age_estimate_uncertainty_bootstraps.rds

!products/figures/Figure_1.jpg
!products/figures/Figure_2.jpg
!products/figures/Figure_3.jpg
!products/figures/Figure_4.png
!products/figures/Figure_5.jpg
!products/figures/Figure_S1.jpg
!products/figures/Figure_S2.png
!products/figures/Figure_S3.jpg
!products/figures/Figure_S4.jpg
!products/figures/Figure_S5.jpg
!products/figures/Figure_S6.jpg
!products/figures/Figure_S7.jpg
!products/figures/Figure_S8.jpg

!products/tables/Table_S1.png
!products/tables/Table_S2.png
!products/tables/Table_S3.png
!products/tables/Table_S4.png
!products/tables/Table_S5.png
!products/tables/Table_S6.png

!Rmd/Supplementary_File_1/Supplementary_File_1.html
!Rmd/Supplementary_File_1/Supplementary_File_1.Rmd

!license.txt
.Rproj.user